/* Desktop styles */
@media (min-width: 768px) {


html, body {

    overflow-x: hidden;
    
}
    body {
        font-family: tt-commons-pro, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #010101;

    }

    body, a, button, input {
        cursor: default; /* Hide the default cursor for the body and all interactive elements */
    }



    .tooltip {
        position: absolute;
        background-color: #1d1c1c;
        box-shadow: 20px solid #313333;
        padding: 2vw;
        font-size: 1vw;
        width: 25vw;
        height: fit-content;
        display: none;
        z-index: 1000000;
        color: #f7f7f7;   
        border-radius: 2vw; 
    }
    
/* This applies only in Firefox */
@supports (-moz-appearance: none) {
    .tooltip {
      line-height: 1.5vw; /* Example style */
    }
    p {
        line-height: 1.8vw;
    }
    article {
        padding-bottom: 7vw;
    }
    a.txt {
        padding: 4pt;
    }
  }







#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #161717;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #6f22ff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#content {
    display: none; /* Initially hide the content */
}


/* HIDDEN ON DESKTOP */

.desktophide {
    display:none;
}



/* SKIP LINK STYLE */

    .skip-link {
        top: -10vw;
        position: absolute;
        background-color: #161717;
        color: #e0e0e0;
        z-index: 10000;
      }
      
      .skip-link:focus-visible {
        top: 0;
        position: absolute;
        background-color: #161717;
        color: #e0e0e0;
        opacity: 100%;
        z-index: 10000;
    }


    /* FOCUS STYELS */
    header:focus-visible {
        outline: 2px dashed white; /* white outline */
        outline-offset: 2px;       /* Space between outline and element */
        z-index: 3000;
    }

    li:focus-visible {
        outline: 2px dashed white; /* white outline */
        outline-offset: 2px;       /* Space between outline and element */
        z-index: 1000;
    }

    section p:focus-visible {
        outline: 4px dashed white; /* white outline */
        border-radius: 10px;
        outline-offset: 20px;       /* Space between outline and element */
        z-index: 1000;
    }

    .social-icons img:focus-visible {
        outline: 2px dashed white; /* white outline */
        outline-offset: 2px -1px 2px -1px;       /* Space between outline and element */
        z-index: 3000;
    }


/* CUSTOM CURSOR */
 
    .custom-cursor {
        position: fixed;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        pointer-events: none; /* Prevent the cursor from interfering with other elements */
        z-index: 10000; /* Ensure the cursor is above all other elements */
        transform: translate(-50%, -50%);
        background-color: white;
        mix-blend-mode: difference; /* Ensure the cursor blends with the background */
        box-shadow: 5px 0 15px rgba(0,0,0,0.5); /* Shadow for depth */
        transition: width 0.5s linear;
        transition: mix-blend-mode 0.5s linear;

    }
    .custom-cursor:hover {
        transition: width 0.5s linear;
        transition: mix-blend-mode 0.5s linear;   
        mix-blend-mode: normal; /* Ensure the cursor blends with the background */
 
    }
    .hovered {
        background-color: #161717;
        border: 1px solid #f7f7f7;
        outline-offset: 10px;
        mix-blend-mode: normal;
        width: 20px;
        height: 20px;
        transition: all 0.5s linear;
        transition: mix-blend-mode 0.5s linear;


    }



    
    /* MAIN HEADER */
header {
    position: fixed;
    text-align: left;
     border-radius: 0 0 40px 40px;
     background-color: #161717;
     right: -9vw;
     top: -0.1vw;
    margin: 0;
    padding: 0;
    z-index: 1000;
}

    /* MAIN HEADER */
    header.firstpage {
        position: fixed;
        text-align: left;
        margin: 0;
        height: 3vw;
        padding-left: 1vw;
        padding-right: 10vw;
        padding-top: 0.8vw;
        padding-bottom: 0.8vw;
        z-index: 4000;
        align-content: center;
    }


header img {
    height: 1vw;
    width: auto;

    padding: 0 0 0 1vw;
    -moz-transition: all 0.3s; /* Mozilla specific transition */
    transition: all 0.3s;
}

/* Add Mozilla specific prefixes if necessary */
@media screen and (-moz-images-in-menus: 0) {
    header {
        text-decoration: none;/* Mozilla-specific styles if needed */
    }
}



/* Button to toggle the menu */
.menu-toggle {
    position: fixed;
    top: 0;
    left: 0; /* Ensure it starts from the edge */
    width: 5vw;
    height: 4vw;
    min-width: 50px;
    min-height: 40px;
    background-color: #161717;
    z-index: 3500; /* Adjust if necessary to be above other elements */

    color: white;
    font-size: max(1.7vw, 30px);
    border-radius: 0 0 40px 0;
    cursor: pointer;
    border: none;
    padding: 0 1vw 0 0.5vw;
    transition: width 0.3s ease; /* Smooth width transition */
}

.menu-toggle:before {
    content: '☰'; /* Hamburger icon */
    font-size: max(1.7vw, 20px);
    z-index: 3000; /* Adjust if necessary to be above other elements */
    display: block;
    text-align: center;
}

.menu-toggle.expanded:before {
    content: 'Menu'; /* Close icon */
    text-align: left;
    z-index: 5000; /* Adjust if necessary to be above other elements */
    font-size: max(1.7vw, 20px);
    padding: 0 1vw 0 1vw;

}

.menu-toggle.expanded {
    width: 12vw; /* Expanded width */
    border: none;
    z-index: 5000; /* Adjust if necessary to be above other elements */
    border-radius: 0 20px 20px 0;

    background-color: #f7f7f7;
    color: #010101;
}

/* PARENT NAV */


/* Initial state of the navigation */
nav {
    position: fixed;
    top: 4vw;
    width: 14vw;
    left: 0vw;  /* Explicitly start off-screen */
    opacity: 0;  /* Start fully transparent */
    z-index: 1100;
    transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;  /* Smooth slide and fade transition */
    box-shadow: 5px 0 15px rgba(0,0,0,0.3); /* Shadow for depth */
    border-radius: 0 1vw 1vw 0;

}

nav ul {
    list-style-type: none;
    background-color: rgba(0,0,0,0.6);
    margin: 0;
    padding: 0;
    border-radius: 0 20px 20px 0;

}

nav ul li {
    position: relative;
}

nav ul li a {
    color: #f7f7f7;
    padding: 15px 20px 15px 20px;
    font-size: max(1.5vw, 19px);
    font-weight: 200;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
    border-radius: 0 20px 20px 0;

}

nav ul li a span {
    color: #66cdff;
    font-weight: 900;
}

nav ul li a:focus, 
nav ul li a:hover {
    background-color: #f7f7f7;
    color: #010101;
    outline: none;
    z-index: 1100;

}



/* NAVIGATION SUBMENU */
.dropdown-content {
    display: block;
    position: absolute;
    left: 13vw;
    top: 0;
    white-space: nowrap;
    background-color: rgba(0,0,0,0.8);
    border-left: none;
    opacity: 0; /* Initially fully transparent */
    transform: translateX(-3px); /* Start slightly above to give a dropping effect */
    visibility: hidden; /* Initially not visible */
    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s ease; /* Smooth transition for opacity, transform, and visibility */
    border-radius: 20px 20px 20px 20px;
}

.dropdown-content li {
    display: block;
    text-align: left;
    margin-right: -4px;
}

.dropdown-content li a {
    font-size: max(1vw, 13px);
    border-left: none;
    color: #f7f7f7;
    padding: 0.5vw 0.6vw 0.5vw 0.6vw;
    border-radius: 20px 20px 20px 20px;
    padding: 15px;

}

.dropdown-content a:hover {
    background-color: #f7f7f7;
    color: #010101;
    z-index: 1100;
} 
.dropdown:focus .dropdown-content {
    top: 0;
    opacity: 1; /* Fully visible */
    transform: translateX(0); /* Move to final vertical position */
    visibility: visible; /* Make visible and interactable */
}
.dropdown:hover .dropdown-content {
    left: 13vw;
    top: 0;
    opacity: 1; /* Fully visible */
    transform: translateX(0); /* Move to final vertical position */
    visibility: visible; /* Make visible and interactable */
}


/* Ensures dropdown stays visible when any child has focus */
.dropdown:focus-within .dropdown-content {
    display: block;
    z-index: 1100;
    top: 0;
    opacity: 1; /* Fully visible */
    transform: translateX(0); /* Move to final vertical position */
    visibility: visible; /* Make visible and interactable */
}

/* Style for focusing on links within the dropdown for better visibility */
.dropdown-content li a:focus {
    background-color: #e0e0e0; /* Light grey background for focused links */
    color: #161717;
    outline: none; /* Optional: Adjust according to your visual design needs */
    z-index: 1100;
}
   
    





/* MAIN */

    /* SECTION */
    
    section {        background-color: #161717;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 7vw 7vw 7vw 7vw;
        border-radius: 90px;
        margin:3.5vw 3vw 3.5vw 3vw;
    }
    section p {
        line-height: 10vh;
        font-size: 10vh;
        color: #f7f7f7;
        font-weight: 600;
    }

section p a {
    text-decoration: none;
    color: #f7f7f7;
}
section p a:hover {
    text-decoration: none;
    color: #c4ed22;
    
}

main a {
    color: #50bef5;
    text-decoration: none;
    font-weight: 600;
}



    .backgroundimg {
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('img/backgroundimg.gif');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 63vh;
        /* Initial scale for the background image */
        transform: scale(1);
        transition: transform 0.2s ease-out; /* Smooth transition */
        z-index: 1;
        }
    
    .backgroundimg p {
        color: #f7f7f7;
        line-height: 9vw;
        font-size: 7vw;
        margin-top: 5vw;
    }


 .pink {
    margin-top: 3vw;
        padding-top: 4vw;
        padding-bottom: 4vw;
    }

    .pink p {
        color: #f7f7f7;
        line-height: 8vw;
        font-size: 6.5vw;
        font-style: normal;
        font-family: seismic-latin-variable, sans-serif;
        font-variation-settings: "SEIS" 0, "wght" 500;
        
    }


    .pink a {
        transition: all 0.7s ease; /* Smooth transition */
        white-space: nowrap;
        font-style: normal;



    }
        
    .pink a:hover {
        font-family: seismic-latin-variable, sans-serif;
        font-variation-settings: "SEIS" 100, "wght" 400;
        transition: all 0.7s ease; /* Smooth transition */
        white-space: nowrap;


    }
    

    /* Article / lsiting  */




    .about {
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('img/Silver-Touch--4.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 63vh;
        /* Initial scale for the background image */
        transform: scale(1);
        transition: transform 0.2s ease-out; /* Smooth transition */
        z-index: 1;
        }
    
    .about p {
        color: #f7f7f7;
        line-height: 9vw;
        font-size: 7vw;
        margin-top: 5vw;
    }








h1 {
    color: #e0e0e0;
    font-size: 2vw;
    width: 90%;
    font-weight: 300;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 0.5vw;
    margin-left: 4vw;
    margin-bottom: 7vw;
}

    /* GALLERY */


.keydown:focus-visible {
    outline: 3px dashed white; /* white outline */
    outline-offset: 2px;       /* Space between outline and element */
    z-index: 1000;
}
.gallery {
    column-count: 2;
    column-gap: 7vw;
    width: 90%;
    padding-left: 3vw;
    margin-left: 2vw;
    margin-right: 3vw;

}

.gallery a {
    font-size: 1.2vw;
    background-color: #262525;
    color:#f7f7f7;
    font-weight: 300;
    z-index: 10000;
}

.tiny {
    position: absolute;
    margin-left: 42vw;
    margin-top: -2vw;
    width: 7vw;
    height: auto;
}

.tiny2 {
    position: absolute;
    margin-left: 90vw;
    margin-top: 5vw;
    width: 7vw;
    height: auto;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 7vw;

}
.gallery a:hover img {
    border: 1px solid #f3f3f3;
    border-radius: 8px;
}

.progressive-image {
    transition: opacity 0.5s ease-out;
    width: 100%;  /* Ensure the image fills the container */
    height: auto; /* Maintain aspect ratio */
}

/* Low-res images can be slightly blurred to improve appearance */
.progressive-image.loading {
    filter: blur(5px);
}








    /* Footer */
    footer {
        background-color: #1d1c1c;
        height: 3.5vw;
        width: 32vw;
        position: fixed;
        bottom: 0;
       left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        color: #e0e0e0;
        border-radius: 0px 30px 0 0;
        
    }
    
    .social-icons {
        display: flex;
        gap: 20px;

    }
    
    .social-icons a img {
        height: 1.2vw;
        width: auto;
        padding-left: 1vw;
        padding-right: 1vw;
        /* filter: invert(100%); */
    }

    

    .footer-text {
        color: #e0e0e0; /* Text color for readability on dark background */
        font-size: 0.7vw; /* Adjusted to fit the smaller footer height on desktop */
        text-align: right; /* Text aligned to the left */
        padding-left: 2vw;
        font-weight: 300;
    }
    footer.black-background .footer-text {
        color: #161717; /* Sets the text color to white when within a 'white-background' footer */
    }
    
    }
    
































    





    





/* Mobile styles */
@media (max-width: 767px) {

    body {
        font-family: tt-commons-pro, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #161717;
    }


/* HIDDEN ON mobile */

.mobilehide {
    display: none;
}



.tooltip {
    position: absolute;
    background-color: #161717;
    box-shadow: 20px solid #161717;
    padding: 3vw;
    font-size: 2.3vw;
    width: 32vw;
    height: 100vw;
    display: none;
    z-index: 1000000;
    color: #f7f7f7;   
    border-radius: 1vw; 
    border: 1px solid #f7f7f7;
    /* box-shadow: 0 0 0 12px #161717; Second border */
}

    /* SKIP LINK STYLE */

    .skip-link {
    display: none;
      }
      
      .skip-link:focus {
        display: none;      }

    /* MAIN HEADER */
    header {
        width: 100%;
        background-color: #f7f7f7;
        border-bottom: 1px solid black;

    }

   .menu-toggle {
    display: none;
   }
header img {
    height: 8vw;
    width: auto;
    padding: 5vw;
    -moz-transition: all 0.3s; /* Mozilla specific transition */
    transition: all 0.3s;
}






nav {
    width: 100%;
    background-color: #161717;
}

nav ul {
    width: 100%;
    text-align: left;
    list-style: none;
    margin: 0;
    font-weight: 200;

    padding: 0;
    background-color: #161717;
    color:#e0e0e0
}

nav ul li a {
    width: 100%;
    font-size: 8vw; /* Adjust font size for mobile */
    font-weight: 200;
    text-decoration: none;
    color: #f7f7f7;
}

li.dropdown {
    padding-left: 4vw;
}

li.dropdown.active {
    background-color: #161717;
    color:#f7f7f7;
}

/* Submenu items display underneath the parent item */
.dropdown-content {
    position: static; /* Change from absolute to static */
    overflow: hidden;
    max-height: 0; /* Initially hide the submenu */
    width: 100%;
    background-color: #161717; /* Different background color for submenu */
    transition: max-height 0.5s ease-out; /* Smooth transition for opening and closing */
}

.dropdown-content li {
    display: block; /* Display submenu items in a column */
    width: 100%;
    padding: 2vw 0;
}

.dropdown-content li a {
    font-size: 4vw; /* Adjust font size for submenu items */
    margin: 2vw;
    color:#f7f7f7;
}

/* Assuming active class is added via JS when dropdown is expanded */
.dropdown.active .dropdown-content {
    max-height: 1000px; /* Adjust based on content size */
}
    
    /* SECTION */
    section {
        background-color: #161717;
        display: flex;
        flex-direction: column; /* Ensures text and other elements are stacked vertically */
        align-items: center;
        justify-content: center;
        text-align: left;
    }
    
    section p {
        line-height: 13vw;
        font-size: 7vw; /* Adjust this value to change the text size */
        color: #66cdff;
        font-weight: 600;
        padding: 5vw;
    }
    

    section p a {
        text-decoration: underline;
        color: #f7f7f7;
    }


    .backgroundimg {
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('img/backgroundimg.gif');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 63vw;
        margin-left: 6vw;
        margin-right: 6vw;
        margin-bottom: 15vw;
        margin-top: 6vw;

        border-radius: 10vw;

        }
    

    .pink p {
        color: #f7f7f7;
        line-height: 9vw;
        font-size: 6vw;
    }


    .pink a {
        transition: all 0.5s ease; /* Smooth transition */
        text-decoration: none;
        font-family: seismic-latin-variable, sans-serif;
        font-variation-settings: "SEIS" 0, "wght" 100;
        font-size: 6vw;

    }
        
 
.pink a:hover {
    font-family: seismic-latin-variable, sans-serif;
    font-variation-settings: "SEIS" 100, "wght" 400;
    transition: all 0.7s ease; /* Smooth transition */
    color:#6f22ff;
}


main a {
    color: #50bef5;
    text-decoration: none;
    font-weight: 600;
}


/* Article / lsiting  */

article {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
}

h2 {
    background-color: #e0e0e0;
    color: #161717;
    font-size: 8vw;
    padding-left: 3vw;
    margin: 0;
    font-weight: 600;
}

h3 {
    background-color: #e0e0e0;
    color: #161717;
    font-size: 4.5vw;
    font-weight: 500;
    padding-left: 3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin: 0;

}

figure {
    padding: 0;
    margin: 0;
    height: 45vw; /* Fixed height */
    width: 100%; /* Adjust width as necessary */
    overflow: hidden; /* Ensures that any overflowing content is hidden */
    position: relative; /* Ensures proper positioning of the image */
}

figure img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Covers the area, will be clipped to fit */
    position: absolute;
}

article h4 {
    padding: 5vw 3vw 0.5vw 4vw;
    font-size: 4vw;
    font-weight: 500;
    margin-left: 7vw;
    margin-top: 0;
    margin-right: 6vw;
    margin-bottom: 0;

}


article h5 {
    padding: 3vw 3vw 1vw 4vw;
    font-size: 4vw;
    font-weight: 300;
    margin-left: 7vw;
    margin-top: 0;
    margin-right: 5vw;
    margin-bottom: 0;
    font-style: italic;

}

article p {
    padding: 3vw 13vw 1vw 4vw;
    font-size: 3.5vw;
    font-weight: 200;
    margin-left: 7vw;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 7vw;
}
    


/* ARCHIVE */



    /* GALLERY */



    .gallery {
        column-count: 1; /* Creates five columns */
        column-gap: 2vw; /* Space between columns */
        width: 49%; /* Full width of the container */
        padding-left: 4vw;
        padding-bottom: 15vw;
    }
    
    .gallery .image-container {
        break-inside: avoid-column; /* Prevents breaking the container across columns */
        margin-bottom: 2vw; /* Consistent spacing between items */
        width: 100%; /* Takes up full column width */
        display: inline-block; /* Ensures the block fills the column width */
        position: relative; /* For positioning the overlay */
        overflow: hidden; /* Keeps everything neat */
        border-radius: 10px;
    }
    
    .gallery img {
        width: 100%; /* Ensures the image fills its container */
        height: auto; /* Maintains aspect ratio */
        display: block; /* Remove extra space below the image */
        margin-bottom: 7vw;
        margin-top: -2vw;
        margin-left: 2vw;
        border-radius: 10px;
    }

    .gallery a:hover img {
        border: 1px solid white;
        border-radius: 8px;
    }

    .gallery a {
        font-size: 3vw;
        color:#f7f7f7;
        font-weight: 300;
        margin-bottom: -2px;
    }
    
    .progressive-image {
        transition: opacity 0.5s ease-out;
        width: 100%;  /* Ensure the image fills the container */
        height: auto; /* Maintain aspect ratio */
    }
    
    /* Low-res images can be slightly blurred to improve appearance */
    .progressive-image.loading {
        filter: blur(5px);
    }

    .txt {
        text-wrap:nowrap;
        padding: 7px 10px 7px 60vw;
        border-radius: 10px;
        background-color: #161717;
        border: 1px solid white;
    }

    .tiny {
        position: absolute;
        margin-left: 3vw;
        margin-top: -5vw;
        width: 14vw;
        height: auto;
    }
    
    .tiny2 {
        display: none;
    }
    






/* FORM SUBSCRIBE */
/* FORM SUBSCRIBE */
#mc_embed_signup {
    
    width: 100vw;
    height: 100vh;
    margin: auto;
    padding: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('img/DTS_TOUCHING_GRASS__JELLY_LUISE_9948.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

fieldset {
    margin-top: 60vw;

    margin-bottom: 30vw;
    width: 70vw;
    padding: 10px;
    border: 1px solid #ddd;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    padding: 1vw;
    color: #f7f7f7;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #f7f7f7;
}

input[type="text"],
input[type="email"] {
    width: 58vw;
    height: 10vw;
    background-color: #161717;
    color: #f7f7f7;
    font-size: medium;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #aaa;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #161717;
    border-radius: 2vw;
    margin-top: 6vw;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 2em;
    height: 15vw;
    width: 30vw;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #66cdff;
    color: #161717;

}




















/* Footer */
footer {
    background-color: #161717;
    height: 12vw;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between; /* Align items on opposite ends */
    align-items: center;
    padding: 0 3vw; /* Add some horizontal padding */
    z-index: 1000; /* Ensure it stays on top of other elements */
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons a img {
    height: 5vw; /* Adjust size as needed */
    width: auto;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vw;
}

.footer-text {
    color: white; /* Set the text color to white */
    font-size: 2vw; /* Adjust the font size as needed */
    padding-right: 7vw;
    text-align: left; /* Align the text to the left */
}
}